<form>
  <label for="title">Title:</label><br>
  <input type="text" id="formTitle" name="title" value="Title"><br>
  <label for="Content">Content</label><br>
  <input type="text" id="formContent" name="Content" value="Content"><br><br>
  <input id="submitForm" type="submit" value="Submit">
</form> 