{{#each posts as |post|}}
  <div class="container">
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <button class="btn postBtn" data={{post.id}}>
          {{post.title}}
        </button>
      </div>
      <h3>
        Created by
        {{post.user.name}}
      </h3>
      <div class="col-md-6"></div>
    </div>
  </div>
{{/each}}