<form>
  <label for="username">username:</label><br>
  <input type="text" id="formUsername" name="username"><br>
  <label for="Email">email:</label><br>
  <input type="text" id="formEmail" name="Email"><br>
  <label for="Password">Password</label><br>
  <input type="password" id="formPassword" name="Password"><br><br>
  <input id="submitSignup" type="submit" value="Submit">
</form> 